.footer{
    height: 50px;
    opacity: 0.9;
    box-shadow: 1px -2px 2px 0 rgba(166, 160, 160, 0.5);
    background: #fafafa;
}
.copyright-kiranjoshi {
    padding: 17px 0;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }