<mat-toolbar color="primary" class="container">
  <section class="toolbar-container" fxLayout="row" fxLayoutAlign="space-between center">
    <section class="logo-container">
      <button *ngIf="authService.isAuth()" mat-flat-button color="primary" (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-bold">HRM</span>
    </section>
    <section class="userinfo-container">
      <ul fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="flex-end center" class="navigation-items">
        <li *ngIf="authService.isAuth()" class="user-icon">
          <mat-icon>account_circle</mat-icon>
        </li>
        <li *ngIf="authService.isAuth()" class="user-display-container">
          <span class="user-display">
            <b>Welcome, {{getUserData('name')}}</b>
          </span>
        </li>
        <li *ngIf="authService.isAuth()">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled (click)="changePassword()">
              <mat-icon>settings</mat-icon>
              <span>Change password</span>
            </button>
            <button mat-menu-item (click)="signOut()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </section>
  </section>
</mat-toolbar>