<section class="{{theme}}">

  <app-loading-screen></app-loading-screen>
  <header id="header-main">
    <app-header></app-header>
  </header>
  <main class="wrap">
    <!-- <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
      <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container> -->
    <!-- <app-header (sidenavToggle)="sidenav.toggle()"></app-header> -->
    <div [@routeAnimations]="getAnimationData(routerOutlet)">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>

  </main>
  <!-- <footer>
    <app-footer></app-footer>
  </footer> -->
</section>
