// $theme-primary : #00838F;
// $theme-secondary : #F96F34;
// $gradient : linear-gradient(to right, #00838F, #005b64 32%, #fa9a70 67%, #F96F34);
// $text-background : #fafafa;
// $bottom-underline-border : #d8d8d8;
// $table-even-background : #f0f0f0;
// $table-odd-background : #fff;
// $theme-primary-rgba : rgba(0,131,143,0.3);
// $theme-secondary-rgba : rgba(249,111,52,0.3);
// $summary-page : #b5b5b5;
// ------- snakbar colour

$theme-primary: #F58538;
$theme-secondary: #40AA55;
$gradient: linear-gradient(to left, #40AA55, #7ece8e 32%, #f6904b 67%, #F58538);
$text-background: #fafafa;
$bottom-underline-border: #d8d8d8;
$table-even-background: #f0f0f0;
$table-odd-background: #fff;
$theme-primary-rgba: rgba(245, 133, 56, 0.3);
$theme-secondary-rgba: rgba(64, 170, 85, 0.3);
$theme-copied-rgba: rgba(40, 167, 69, 0.3);
$summary-page: #b5b5b5;
$extra-small-font-size : 10px;
$small-font-size : 12px;
$standard-font-size : 14px;
$header-font-size : 16px;
// ------- snakbar colour

$warning: #f44336;
$error: #f44336;
$info: $theme-secondary;
$success: #28a745;
$success-tint: #bee4c7;

// $warning : #f44336;
// $error : #f44336;
// $info : $theme-secondary;
// $success : #28a745;

