@import '../../../../css/variable.scss';

.docs-view-container,
.test-view-container {
  max-height: calc(100vh - 170px);
}

.clr-white {
	color: #fff;
}

.close-btn {
	position: absolute;
	right: 6%;
	top: 3%;
}

.document-viewer-btn {
	z-index: 100;
	position: absolute;
	right: 35%;
	bottom: 4%;
	width: 500px;
	padding: 7px;
	background-color: rgba(0, 0, 0, 0.8);
}

.document-viewer-btn .fa {
	color: #fff;
	font-size: 18px;
	padding: 8px;
	margin-left: 20px;
	cursor: pointer;
}
.document-viewer-btn .fa:hover {
	background-color: rgba(225, 225, 225, 0.25);
}

.custom-docs-view img {
	border: 4px solid rgba(255, 255, 255, 0.2);
}

.selected-document {
	border: 4px solid $theme-secondary !important;
}

.images {
	width: 99%;
	height: 99%;
}
